.navcard {
  padding: 0;
  margin: 0;
  margin-bottom: 0;
}
img {
  cursor: pointer;
}

#ButtonA {
  margin-right: 0;
}

.rght Input,
Button {
  margin: 10px;
}
#ButtonR,
#ButtonS {
  background-color: #f1f2f6;
  color: #12130f;
}
.Input {
  width: 30rem;
}
img {
  margin-left: 20px;
}
.menu {
  background-color: #27187e;
}
@media screen and (max-width: 951px),
  (min-device-width: 320px) and (max-device-width: 480px) {
  #search {
    width: auto;
  }
}
