#PopularDestinations {
  margin-top: 0;
  padding: 3rem 4rem;
  display: flex;
  justify-content: center;
  text-align: center;
}
.BigImg {
  margin: 20px;
  display: flex;
}
.smallImage {
  display: flex;
  justify-content: space-between;
}
#img1,
#img2 {
  width: 400px;
}
.PopularBottom {
  display: flex;
  margin: auto;
}

img {
  margin: 20px 20px;
}
h3 br,
h4 br {
  display: block;
  color: grey;
}

@media screen and (max-width: 951px) {
  #PopularDestinations {
    margin-top: 0;
    padding: 3rem 4rem;
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .BigImg {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .smallImage {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #img1,
  #img2 {
    width: 100%; /* Adjust image width for responsiveness */
    max-width: 540px; /* Set maximum width for larger screens */
  }

  .PopularBottom {
    display: flex;
    margin: auto;
  }

  img {
    margin: 20px;
    max-width: 100%; /* Ensure images are responsive */
  }

  h3 br,
  h4 br {
    display: block;
    color: grey;
  }

  @media screen and (min-width: 951px) {
    #PopularDestinations {
      flex-direction: column; /* Adjust layout for smaller screens */
    }

    .BigImg {
      flex-direction: column; /* Adjust layout for smaller screens */
    }

    .smallImage {
      flex-direction: column; /* Adjust layout for smaller screens */
    }

    h3 br,
    h4 br {
      color: grey;
    }
  }
}
